<h1>Add An Animal</h1>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" />
    </div>
    <div class="form-group">
        <label for="species">Species</label>
        <input name="species" />
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input name="desc" />
    </div>
    <input type="submit" value="Add Animal" />
</form>